.cta {
    padding: 0 3.2rem;
    max-width: 120rem;
    margin: 1.6rem auto ;
 }
 .ctaTextBox {
    padding: 3.2em;
 }
 .heading {
     margin-bottom: 3.2rem;
 }
 .secondary {
     font-size: 1.8rem;
     line-height: 1.8;
 }
.container {
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    display: flex;
    background-image: linear-gradient(to right bottom, #bb93b8, #aa78a6);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    
    border-radius: 9px;
    height: 30rem;
       overflow: hidden;
    
  
}
.ctaImgBox{
   background-image: linear-gradient(to right bottom, #C7AEC4, hsla(305, 23%, 57%, 0.3)), url('../../images/formphoto.jpg');
   background-size: cover;
   background-position: 60% 55%;
   overflow: hidden;
}
