.form {
  display: grid;
  place-items: center;
  gap: 1rem;
  align-items: center;
  margin: 2.4rem auto;
  border: solid 2px #e1d8da;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  width: fit-content;
  min-height: 30rem;
}
.formTitle {
  text-align: center;
  padding: 1rem 1rem 1.8rem 1rem;
  font-size: 1.8rem;
}
.inputContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inputs2GridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

@media (max-width: 35em) {
  .form {
    width: 40rem;
  }
  .inputs2GridContainer {
    grid-template-columns: 1fr;
  }
}
