.container {
  display: grid;
  grid-template-columns: 1fr;

  width: 50%;

  gap: 0.5rem;
}
.subContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.actions button {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 8px;
}

.serviceContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}
.actions button:hover {
  background-color: #996c95;
}

select {
  display: flex;

  margin: 2rem auto;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 5px 8px;
  text-align: center;
  width: fit-content;
}
.inputLineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.actions {
  display: flex;
  flex-grow: 0;
  gap: 1rem;
  cursor: pointer;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin-top: 5px;
}

@media (max-width: 62em) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
  }
  select {
    width: 40%;
  }
  .subContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
