.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-items: center;
    gap: 0.5rem;
}
select {
    margin-left:0;
    width: 75%;
}
.actions {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}