.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 400px 600px;
  grid-gap: 10px;
  background-size: cover;
  grid-auto-flow: row dense;
  max-width: 120rem;
  margin: 2rem auto;
  padding: 0 3.2rem;
 
}
.galleryItem {
  width: 100%;
  height: 100%;
  position: relative;
}
.galleryItem .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.galleryItem .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 45%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.galleryItem:hover .image img {
  transform: scale(1.25);
  overflow: hidden;
}
.w2 {
  grid-column: span 2;
}
.w3 {
  grid-column: span 3;
}
.w4 {
  grid-column: span 3;
}
.h2 {
  grid-row: span 2;
}
.h3 {
  grid-row: span 3;
}
.h4 {
  grid-row: span 4;
}

@media (max-width: 75em) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 150px 250px;
    grid-gap: 10px;
  }
  .w4 {
    grid-column: span 3;
  }
  .h4 {
    grid-row: span 2;
  }
}
@media (max-width: 59em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 125px 200px;
    grid-gap: 10px;
  }
  .w4 {
    grid-column: span 2;
  }
  .h4 {
    grid-row: span 2;
  }
  .galleryItem .image img {
    object-position: 35% 40%;
  }
}
/* @media (max-width: 36em) {
  .container {
    grid-template-columns: 1fr;

    grid-auto-rows: minmax(300px, auto);
    grid-auto-columns: minmax(400px, auto);
    grid-gap: 10px;
  }
  .w4 {
    grid-column: span 4;
  }
  .h4 {
    grid-row: span 4;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .galleryItem {
    display: flex;
    flex-direction: column;
  width: 40%;
  height: 40%;
  position: relative;
}
  .galleryItem .image img {
    display: flex;
      width: 100%;
      height: 100%;

    object-position: 45% 40%;
  }
} */
