.subContainer {
  display: grid;
  margin: 12px;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.subContainer input {
  border-bottom: 1px solid gray;
}
select {
  display: flex;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
}
.inputLineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 62em) {
  select {
    width: 60%;
    font-size: 1.4rem;
  }
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputLineContainer {
    gap: 4px;
  }
}
