.input {
  background-color: #fbf2f4;

  border-bottom: 1px solid #999;
}

.invalidInput {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
  outline: none;
}

.invalidInput:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorParagraph {
  color: red;
  font-size: 12px;
  margin-top: 0.5rem;
  text-align: center;
  cursor: pointer;
}
