.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border: solid 2px #e1d8da;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.inputContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}
input {
  display: flex;
  border: none;
  padding: 0.5rem;
  width: 20rem;
  max-width: 100%;
}

input:focus {
  outline: none;
  background-color: #fddddd;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.invalidInput {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalidInput:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
.formHeader {
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}
