.container{
    display: flex;
    flex-direction:column;
    padding: 0 3.2rem;
    max-width: 120rem;
    margin: 1.6rem auto ;
 }

 input {
        padding: 0.5rem;
     border-radius: 4px;
     width: 20rem;
     max-width: 100%;
     
 }
     form button {
    display: flex;
    flex-direction: column;
}
 input:focus {
     outline: none;
     border-color: #240370;
     background-color: #e0d4fd;
 }
 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 
 .invalidInput {
    border: 1px solid #b40e0e;
    background-color:#fddddd;
 }

  .invalidInput:focus {
   border-color: #ff8800;
    background-color:#fbe8d2;
 }