.grid {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4.8rem  0 0 0;
  margin: 0 auto;
  align-items: center;
}
.hero {
  background-color: #fbf2f4;
  /* padding: 4.8rem  0 9.6rem 0; */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.brand {
    display: flex;
    align-items: flex-end;
}
.name {
    color: #333;
    opacity: 50%;
}
.heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: 2px;
  margin-bottom: 3.2rem;
}
.description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  font-size: 2rem;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  display: inline-block;
  text-decoration: none;
  transition: all 300ms;
}
.full:link,
.full:visited {
  background-color: #996c95;
}
.full:hover,
.full:active {
  background-color: #aa78a6;
}
.outline:link,
.outline:visited {
  background-color: #fff;
  color: #333;
}
.outline:hover,
.outline:active {
  background-color: #f5f0f4;
  box-shadow: inset 0 0 0 3px #f5f0f4;
}
.heroImg {
  width: 100%;
  object-fit: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}
.marginRightSM {
    margin-right: 1.6rem;
}

@media(max-width: 84em) {
  .grid {
    max-width: 120rem ;
  }
 .heading {
  font-size: 4.4rem;}
}


@media(max-width: 75em){
  .heading{
    font-size: 3.2rem;
  }
  .description {
    font-size: 1.6rem;
    margin-bottom: 3.2rem
  }
 .btn:link,
.btn:visited {
  font-size: 1.6rem;
 }
}

@media(max-width:59em){
  .grid {
    grid-template-columns: 1fr;
  }
  .hero {
     padding: 0 8rem;
  }
  .heroText, 
  .aa {
    text-align: center;
  }
  .actions {
   margin-bottom: 20px;
  }
}
@media (max-width: 36em) {
  .description {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
    line-height: 1.4;
  }
   .heading{
    font-size: 2.4rem;
  }
}