.formDescriptionContainer {
  text-align: center;
  padding: 2.4rem;
}
.description {
  font-size: 1.6rem;
  padding: 1.6rem;
  line-height: 2;
  text-align: justify;
  font-weight: 500;
}
.contactForm {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  padding: 4px;
}
.inputMessage {
  width: 200px;
  height: 120px;
}

.formTitle {
  font-size: 2.4rem;
}

.inputContainer input {
  border: solid 2px #996c95;
  width: 100%;
}
.icons {
  width: 24px;
  height: 24px;
  color: #996c95;
  margin-right: 1.6rem;
}


