*,
*::after,
*::backdrop {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fbf2f4;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  max-width: 100%;
  overflow-x: hidden;
}
html,
body,
#root {
  min-height: 100vh;
  position: relative;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}
