.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fbf2f4;
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 120rem;
  border-top: solid 2px #996c95;
}

.footer {
  min-height: 110px;
}
@media (max-width: 25em) {
  .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

}
