.footer {
  padding: 9.6rem 0;
  padding-bottom: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px;
  background-color: #fbf2f4;
  padding: 0 3.2rem;
  margin: 0 auto;
  max-width: 120rem;
  position: relative;
  bottom: 0;
  border-top: solid 2px #996c95;
}


.addressCol a {
  color: #333;
}
ul {
  padding: 1.2rem;
  line-height: 2;
  text-align: center;
}
