.buttonsContainer {
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
}
.button {
  padding: 8px 24px;
  border: solid 1px #c4b9bb;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  transition: all 300ms;
}
.primary {
  background-color: #996c95;
  color: white;
  transition: all 300ms;
}
.primary:hover {
  background-color: #c295bf;
}
.primary:active {
  scale: 1.05;
}
@media (max-width: 35em) {
  .button {
    padding: 4px 12px;
  }
  .buttonsContainer {
    flex-direction: column;
  }
}
