.image {
    height:0%;
    border-radius: 10px;
}
.left {
 
  
    color: rgba(123, 1, 121, 0.422);
    font-size: 3rem;
    z-index: 10;
    user-select: none;
}
.right {
  
    top: 50%;
    right: 32px;;
    color: rgba(123, 1, 121, 0.422);
    font-size: 3rem;
    z-index: 10;
    user-select: none;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;transform: scale(0.1);
}
.slide.active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1);
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}